body {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: purple;
    margin: 0;
    overflow: hidden;
}

#container {
    position: relative;
    width: 100%;
    height: 100%; 
}

#player {
    width: 2%;
    height: 4%;
    background-color: green;
    position: absolute;
    bottom: 5px; 
    transition: bottom 0.5s;
}
.obstacle {
    width: 1%;
    height: 10%;
    background-color: blue;
    position: absolute;
    bottom: 5px; 
    right:-20px;
    transition: bottom 0.5s;
}

#floor {
    width: 100%;
    height: 5px;
    background-color: red;
    position: absolute;
    bottom: 0;
}

#coordinates {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}
#collisionText {
    color: white;
    position: absolute;
    top: 50px;
    left: 10px;
}

@keyframes jump {
    0% { bottom: 5px; }
    50% { bottom: 205px; }
    100% { bottom: 5px; }
}

.jump {
    animation: jump 1s forwards; 
}